.container-fluid {
    background-color: #b7b8b3;
    color: #17395e;
    
}

body{
    background-color: #b7b8b3;
    border: #b7b8b3;
    margin: 0%;
    background: none;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
}

.sidebar {
    position: absolute;
    left: 5px;
    top: 50px;
    width: 250px;
    height: 100%;
    background-color: #b7b8b3;
    color: #b7b8b3;
    padding-top: 30px;
    display: none;
    transition: transform 0.3s ease-in-out;
}
 
.sidebar ul {
    list-style-type: none;
    padding: 0;
    background-color: #17395e;
}
 
.sidebar li {
    padding: 15px 0;
    text-align: center;
    background-color: #17395e;
}
 
.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 1.2rem;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: rgb(22, 42, 69);
}
 
.sidebar.active {
    display: block;
    background-color: #17395e;
}

.icone{
    height: 25px;
    width: 25px;
}
/* Responsividade */
@media (max-width: 768px) {
    .content {
        margin-left: 0;
    }
 
    .sidebar {
        width: 200px;
    }
 
    .menu-icon {
        display: block;
    }
}
 
@media (max-width: 500px) {
    header {
        flex-direction: column;
        text-align: center;
    }
 
    .menu-icon {
        margin-top: 10px;
    }
}

button {
   background-color: #17395e;
   border: #ffffff;
   border-radius: 1rem;
   border-radius: 25px;
}
button:hover{
    background-color: #ed683f;
}

#botao {
    border-radius: 5px;
    border-color: #ffffff;
    background-color: #17395e;
    color: #ffffff;
}

html{
    user-select: none;
}

img{
    image-rendering: auto;
    border-radius: 25px;
}

input, textarea{
    border-radius: 25px;
}

#carouselPreview .carousel-item img {
  width: 100px;   /* mesmo tamanho do placeholder */
  height: 100px;
  object-fit: cover; /* corta excesso sem distorcer */
}
#carouselPreview .carousel-control-prev-icon,
#carouselPreview .carousel-control-next-icon {
  width: 20px;   /* largura menor */
  height: 20px;  /* altura menor */
  background-size: 100% 100%; /* redimensiona o ícone */
    
}
#carouselPreview .carousel-control-prev,
#carouselPreview .carousel-control-next {
  height: 50px;   /* reduz área clicável */
    display: none; /* escondidas por padrão */
}


#carouselPreview {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
    
header{
    background-color: #b7b8b3;
    border-color: #ee603c;
}

th, td{
    background-color: #b7b8b3;
}